# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp
.Rprofile

# R Environment Variables
.Renviron

# RStudio files
.Rproj.user/

# User-specific files
.Ruserdata

# RStudio Connect folder
rsconnect/

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# Specific library files
renv/*
.renvignore
renv.lock

# Type of files
*.psd
*.tif
*.tiff
*.bmp
*.png
*.ai
*.jpeg
*.jpg
*.lnk
*.zip
*.js
*.html
*.css
*.gri
*.grd
# *.gif
*.pptx

# Archives
*.tar.gz

# Special folder for data that cannot be disclosed publically
Marek_scripts_and_files/*
sensitive_data/*
scripts/Old_scripts/*
scripts/BAMM_analyses.R
input_data/Global_Taxon_List_*
input_data/Jouault_2024_*
input_data/Traits_data/*
input_data/Ponerinae_Macroevolution_taxa_database*Copy*
input_data/Ponerinae_Macroevolution_taxa_database*backup*
input_data/Ponerinae_Macroevolution_taxa_database*Dropbox*
input_data/Weird_grafting_info.xlsx
maps/*
outputs/Useful_figures/*


# Ignore temporarily to avoid to overload Git
# outputs/BioGeoBEARS_models/model_runs/All_posterior_phylo_1534t/DIVA_J*

# Previous results to ignore
outputs/Ancestral_range_estimates_maps/Ponerinae_rough_phylogeny_1534t/*
outputs/BAMM/Ponerinae_rough_phylogeny_1534t/*
outputs/BioGeoBEARS_models/model_logs/Ponerinae_rough_phylogeny_1534t/*
outputs/BioGeoBEARS_models/model_runs/Ponerinae_rough_phylogeny_1534t/*
outputs/BSM/Ponerinae_rough_phylogeny_1534t/*
outputs/Density_maps/Ponerinae_rough_phylogeny_1534t/*
outputs/Discrete_events_counts/Ponerinae_rough_phylogeny_1534t/*
outputs/Empirical_diversification_rates/Ponerinae_rough_phylogeny_1534t/*
outputs/Continuous_events_counts/Ponerinae_rough_phylogeny_1534t/*
outputs/GeoSSE/Ponerinae_rough_phylogeny_1534t/*
outputs/LTT/Ponerinae_rough_phylogeny_1534t/*
outputs/Lineage_origins/Ponerinae_rough_phylogeny_1534t/*
outputs/Network_events_counts/Ponerinae_rough_phylogeny_1534t/*
outputs/RISR/Ponerinae_rough_phylogeny_1534t/*

# Ignore because too big
photos/*
input_data/GABI_*
input_data/GNS_*
input_data/NaturalEarth_maps/*
input_data/geoBoundaries/*
input_data/AntWeb_data/*.xlsx
input_data/AntWeb_data/*.txt
input_data/Biogeographic_data/Intersect_all_shp_all_levels.rds
outputs/BioGeoBEARS_models/model_fits/*
outputs/BSM/BSM_maps/*
outputs/BSM/Ponerinae_MCC_phylogeny_1534t/DEC_J_BSM_inputs.rds
outputs/BSM/Ponerinae_MCC_phylogeny_1534t/DEC_J_BSM_output.rds
outputs/BSM/Ponerinae_MCC_phylogeny_1534t/DEC_J_simmaps*
outputs/BSM/Ponerinae_MCC_phylogeny_1534t/DEC_J_ana_events_tables*
outputs/BSM/Ponerinae_MCC_phylogeny_1534t/DEC_J_clado_events_tables*
outputs/LTT/Ponerinae_MCC_phylogeny_1534t/DEC_J_LTT_all_maps.rds
outputs/BSM/Ponerinae_MCC_phylogeny_1534t/BSM_maps/All_DEC_J_BSMs_1*
outputs/BSM/Ponerinae_MCC_phylogeny_1534t/BSM_maps/All_DEC_J_BSMs_2*
outputs/BSM/Ponerinae_MCC_phylogeny_1534t/BSM_maps/All_DEC_J_BSMs_3*
outputs/BSM/Ponerinae_MCC_phylogeny_1534t/BSM_maps/All_DEC_J_BSMs_4*
outputs/BSM/Ponerinae_MCC_phylogeny_1534t/BSM_maps/All_DEC_J_BSMs_5*
outputs/BSM/Ponerinae_MCC_phylogeny_1534t/BSM_maps/All_DEC_J_BSMs_6*
outputs/BSM/Ponerinae_MCC_phylogeny_1534t/BSM_maps/All_DEC_J_BSMs_7*
outputs/BSM/Ponerinae_MCC_phylogeny_1534t/BSM_maps/All_DEC_J_BSMs_8*
outputs/BSM/Ponerinae_MCC_phylogeny_1534t/BSM_maps/All_DEC_J_BSMs_9*
outputs/Network_events_counts/Ponerinae_MCC_phylogeny_1534t/plots_for_*
outputs/Network_events_counts/Ponerinae_MCC_phylogeny_1534t/all_dispersal_events_all_sliding_windows_5My_ggplot*
# outputs/Network_events_counts/all_dispersal_events_all_strata_ggplot*
outputs/Network_events_counts/Ponerinae_MCC_phylogeny_1534t/all_dispersal_events_cum_counts_all_sliding_windows_1My_ggplot*
# outputs/Network_events_counts/all_dispersal_events_mean_counts_all_sliding_windows_5My_moving_continents_ggplot*
outputs/Paleomaps/Temp_maps/*
outputs/Paleomaps/Paleomaps_sp.rds
outputs/Species_richness_maps/Genera_maps/*
outputs/Species_richness_maps/Ponerinae_taxa_ranges_per_bioregions_sf.rds
outputs/Species_richness_maps/all_Genera_species_richness_maps.pdf
